<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Legal Documents</title>
    <style>
        .RemoveWhiteSp {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%;">
        <tr>
            <td align="center" valign="middle">
                <table cellpadding="0" cellspacing="0" bgcolor="#f0f6f4" width="600" style="padding:20px 20px 20px 20px;">
                    <tr>
                        <td align="left" valign="middle" style="padding:50px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Dear<span style="color:#1f6aa5; font-weight:bold;"> [@FirstName],</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" valign="middle" style="white-space:pre-line; padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            <span style="color:#1f6aa5; font-weight:bold;">[@body]</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            <span style="color:#1f6aa5; font-weight:bold;">Warm Regards,</span>
                            <br />
                            <span style="color:#1f6aa5; font-weight:bold;">[@Username]</span>
                            <br />
                            <span style="color:#1f6aa5; font-weight:bold;">07929702400/2500</span>
                        </td>
                    </tr>

                    <!--<tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            <span style="color:#1f6aa5; font-weight:bold;">[@Username]</span>
                        </td>
                    </tr>-->

                    <!--<tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Contact us at: <span style="color:#1f6aa5; font-weight:bold;">07929702400/2500</span>
                        </td>
                    </tr>-->

                    <tr>
                        <td>
                            <img src="[@logo]" alt="logo" height="50" style="margin-top: 15px;"> 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" style="padding:20px 0 0 0; color:#878787; font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif;">
                            Website: <a href="http://shaligrambuildcon.com/" style="color:#1f6aa5; font-weight:bold;">www.shaligrambuildcon.com</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>